fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
groq>=0.13.0
httpx<0.28.0
pypdf==5.0.1
python-multipart==0.0.12
faiss-cpu==1.8.0.post1
numpy==1.26.4
fastembed==0.3.4
onnxruntime==1.19.2
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4
argon2-cffi==23.1.0
bcrypt==4.2.0
